﻿/* CSS pour le corps entier */
body{
	font-family: "Roboto", sans-serif;
}

/* Modification titre GAAIB */
#titre{
	font-size: 400%;
}

/* Modification titre legume.php, laiter.php, autre.php, menage.php */
p{
	font-size: 150%;
	margin: 2px;
}

/* CSS pour toutes les tables et td */
table{
	border-collapse: separate;
	border-spacing: 20px;
}
td{
	padding: 10px;
	border-radius: 5px;
}

/* Modification titre lien url */
a{
	text-decoration: none;
	font-size: 150%;
}

#boutton{
	position: absolute; 
	bottom: 10px; 
	left: 10px; 
	right: 0;
}

/* Création cadre legume.php, laiter.php, autre.php, menage.php */
#barre{
	border-radius: 5px;
	margin: 5px;
	display:inline;
	float: left; 
	width: 220px;
	text-align:center;
}

/* Modification bouton input type et button */
input[type="submit"], button{
	position: relative;
	top: 5px;
	border-radius: 5px;
	margin: 2px;
	padding: 10px;
	color: #fff;
	background-color:#444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	cursor: pointer;
}

input[type="checkbox"]{
	width: 17px; height: 17px; /* dim. de la case */
}

input[type="number"]{
	position: relative;
	top: 5px;
	border-radius: 5px;
	margin: 2px;
	width: 50px;
	height: 40px;
	color: #444;
	background-color:#fff;
	border: 2px solid #444;
	font-family: "Roboto", sans-serif;
	font-size: 200%;
}

/* CSS barre de recherche recette.html */
#search2 input[type="text"] {
	background: #444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	color: #fff; /*Couleur texte utilisateur.*/
	width: 250px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	bottom: 0px;
}

#search1{
	border: 0px;
	padding: 0px;
}

/* CSS page html des recettes */
#cadre1, iframe{
	position: relative;
	display: inline-table;
	vertical-align: top;
}

iframe{
	padding: 20px;
}

/* CSS MINUTEUR */
/* Modification bouton valider */
#sub,  #bt{
	position: relative;
	top: -320px;
	left: 250px;
	border-radius: 5px;
	margin: 2px;
	color: #fff;
	background-color:#444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	cursor: pointer;
}

/* Modification mot "minute" */
#minute{
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	bottom: 160px;
}

/* Modification affichage nombres minutes */
input[type="text"]{
	position: relative;
	bottom: 150px;
	width: 30px;
	color: #000;
	background-color:#fff;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
}
/* Modification affichage nombres minutes */
input[type="text"]{
	position: relative;
	bottom: 150px;
	width: 30px;
	color: #000;
	background-color:#fff;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
}

/* Modification mot "minute" */
p #minute{
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	bottom: 160px;
}

input[type=range]{
	position: relative;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 600px;
	bottom: 100px;
}

input[type=range]:focus{
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
	width: 600px;
	height: 40px;
	background: #50555C;
	border-radius: 5px;
	border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb{
	border: 0px solid #000000;
	height: 40px;
	width: 30px; /* Taille curseur */
	border-radius: 5px;
	background: #FA5858;
	-webkit-appearance: none;
	margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track{
	background: #50555C;
}

input[type=range]::-moz-range-track{
	width: 600px;
	height: 40px;
	background: #50555C;
	border-radius: 5px;
	border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb{
	border: 0px solid #000000;
	height: 40px;
	width: 30px; /* Taille curseur */
	border-radius: 5px;
	background: #529DE1;
}

input[type=range]::-ms-track{
	width: 600px;
	height: 40px;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower{
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 5px;
}

input[type=range]::-ms-fill-upper{
	background: #50555C;
	border: 0px solid #000000;
	border-radius: 5px;
}

input[type=range]::-ms-thumb{
	border: 0px solid #000000;
	height: 40px;
	width: 30px; /* Taille curseur */
	border-radius: 5px;
	background: #529DE1;
}

input[type=range]:focus::-ms-fill-lower{
	background: #50555C;
}

input[type=range]:focus::-ms-fill-upper{
	background: #50555C;
}

#compt{
	position: relative; /* on positionne le conteneur */
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-size : 250px;
	font-family: "Roboto", sans-serif;
}

/* CSS RAPPEL */
#date{
	border: 2px solid black;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	width: 140px;
	padding: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	bottom: 0px;
	color: black;
}

#rdv{
	border: 2px solid black;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	width: 250px;
	padding: 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	bottom: 0px;
	color: black;
}

#check{
	border-radius: 5px;
	margin: 2px;
	width: 50px;
	color: #fff;
	background-color:#444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 150%;
	cursor: pointer;
}

/* CSS calendrier.php */
#test1, #test2{
	position: relative;
	display: inline;
	vertical-align:top;
}

#warning{
	position: relative;
	top: -5px;
	border-radius: 5px;
	margin: 0px;
	width: 40px;
	color: #fff;
	background-color:#444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	cursor: pointer;
}

#test1{
	position: relative;
	top: 3px;
}

/* CSS HOME METEO */
.contour1{
	height: 75px;
	width: 144px;
	border:2px solid #000;
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
}

.contour2{
	height: 33px;
	width: 170px;
	border: 2px solid #000;
	margin: 1px;
	padding: 1px;
	border-radius: 5px;
}

#light{
	position: relative;
	top: 0px;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
	color: #fff;
	background-color:#444;
	border: 0 none;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	cursor: pointer;
}
div.relative {
    position: relative;
    left: 800px;
	}

#body{
	width:100px;
}
